

:root{
    --background: #0D0B1E;
    --primaryColor: #7F00FF;
    --secondaryColor: #00FFFF;
    --textColor: #E6E6FA;
    --hover: #9400FF;
}

*{
    text-decoration: none;
    padding: 0;
    margin: 0;
}

*::-webkit-scrollbar{
    display: none;
}

body{
    background-color: var(--background);
    font-family: 'Poppins', sans-serif; 
    overflow-x: hidden;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: linear-gradient(to left, #2d005233, #6802bb4d);
    box-shadow: 0px 5px 15px rgba(0,0,0,.3);
    backdrop-filter: blur(5px);
    padding: 0 2%;
    box-sizing: border-box;
    position: fixed;
    z-index: 9999;
}

nav .Logo{
    width: 80px;
}

nav .navbar-menu{
    display: flex;
    gap: 2rem;
}

nav .navbar-menu a{
    color: var(--textColor);
    font-size: 1.3rem;
    font-weight: 600;
    transition: .5s;
    position: relative;
}

nav .navbar-menu a::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    width: 0;
    height: 3px;
    background-color: var(--primaryColor);
    transition: .5s ease;
    border-radius: 2px;
}

nav .navbar-menu a:hover{
    color: var(--hover);
}

nav .navbar-menu a:hover::after{
    width: 100%;
}

nav .icons-menu i{
    color: var(--primaryColor);
    font-size: 1.5rem;
    transition: .4s;
}

nav .icons-menu i:hover{
    color: var(--hover);
    transform: scale(1.1);
}

/* home */
main .home{
    padding: 12vh 80px 0 80px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

main .home .home-contant{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}

main .home .kata-perkenalan{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 16rem;
    margin-top: 50px;
    width: 350px;
    position: relative;
    top: 5vh;
    
}

main .home .kata-perkenalan .bagian-atas{
    animation: masukKanan 2s ease-in-out;
}

main .home .kata-perkenalan h4{
    color: var(--primaryColor);
    font-size: 1.2rem;
}

main .home .kata-perkenalan .nama{
    display: flex;
    flex-direction: column;
}

main .home .kata-perkenalan .nama h1{
    color: var(--textColor);
    font-size: 4rem;
    letter-spacing: 4px;
}

main .home .kata-perkenalan .nama h1:nth-child(2){
    color: var(--primaryColor);
}

main .home .kata-perkenalan p{
    color: var(--textColor);
}

main .home .foto-profil{
    margin: 0 auto;
    width: 800px;
}

main .home .foto-profil img{
    aspect-ratio: 1/1;
    width: 700px;
    object-position: top;
    object-fit: cover;
    position: relative;
    margin: 0 auto;
    z-index: 99;
    left: 18px;
    filter: drop-shadow(0px 5px 15px rgba(0,0,0,.4));
    animation: kebawah linear both;
    animation-timeline: view();
    box-sizing:border-box;
}

main .home .foto-profil::before{
    content: '';
    width: 500px;
    height: 500px;
    border-radius: 100%;
    background-color: var(--hover);
    padding: 5px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    animation: opacity 4s ease;
    z-index: 9;
}

main .home .kata-perkenalan .bagian-bawah .links{
    gap: 2rem;
    display: flex;
}

main .home .kata-perkenalan .bagian-bawah .links i{
    background-color: var(--primaryColor);
    padding: 8px;
    font-size: 1.8rem;
    border-radius: 100%;
    color: var(--background);
    transition: .4s;
    opacity: 0;
}

main .home .kata-perkenalan .bagian-bawah .links i:nth-child(1){
    animation: tombol 1s ease 2s forwards;
}

main .home .kata-perkenalan .bagian-bawah .links i:nth-child(2){
    animation: tombol 1s ease 2.5s forwards;
}

main .home .kata-perkenalan .bagian-bawah .links i:nth-child(3){
    animation: tombol 1s ease 3s forwards;
}

main .home .kata-perkenalan .bagian-bawah .links i:hover{
    color: var(--textColor);
    background-color: var(--hover);
    transform: scale(1.1);
    box-shadow: 0px 5px 15px rgba(0,0,0,.3);
}

main .home .profesi{
    display: flex;
    flex-direction: column;
    width: 400px;
    position: relative;
    top: 50vh;
    animation: masukKiri 2s ease-in-out;
}

main .home .profesi h1{
    color: var(--textColor);
    font-size: 2.4rem;
}

main .home .profesi span{
    color: var(--primaryColor);
}

main .home .profesi h4{
    color: var(--primaryColor);
}

main .home .profesi p{
    color: white;
    margin-top: .3rem;
}


main .home-skill {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
}

main .home-skill .desc-skill-kiri-continer{
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
    width: 300px;
    font-size: .8rem;
}

main .home-skill .desc-skill-kiri-continer .card-skill{
    display:flex;
    flex-direction:column;
    gap: 1.2rem;
    opacity: 0;
}

main .home-skill .desc-skill-kiri-continer .card-skill:nth-child(1){
    animation: masukKiriSkill ease forwards;
    animation-timeline: view();
}

main .home-skill .desc-skill-kiri-continer .card-skill:nth-child(2){
    animation: masukKiriSkill  ease forwards;
    animation-timeline: view();
}

main .home-skill .desc-skill-kiri-continer .card-skill:nth-child(3){
    animation: masukKiriSkill ease forwards;
    animation-timeline: view();
}

main .home-skill .desc-skill-kiri-continer .card-skill h1{
    color: var(--primaryColor);
}

main .home-skill .desc-skill-kiri-continer .card-skill li{
    color: var(--textColor);
}

main .home-skill .desc-skill-kanan{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 300px;
    font-size: .8rem;
}

main .home-skill .desc-skill-kanan .card-skill{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    opacity: 0;
}

main .home-skill .desc-skill-kanan .card-skill:nth-child(1){
    animation: masukKananSkill ease forwards;
    animation-timeline: view() ;
}
main .home-skill .desc-skill-kanan .card-skill:nth-child(2){
    animation: masukKananSkill ease forwards;
    animation-timeline: view() ;
}

main .home-skill .desc-skill-kanan .card-skill h1{
    color: var(--primaryColor);
}

main .home-skill .desc-skill-kanan .card-skill li{
    color: var(--textColor);
    text-decoration-color: var(--hover);
}


main .home .home-skill .container-skill{
    display: flex;
    gap: 20px;
    border: 2px solid var(--hover);
    justify-content: center;
    align-items: center;
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 100%;
    animation: muter 8s linear infinite;
}

main .home .home-skill .container-skill i{
    color: var(--background);
    background-color: var(--primaryColor);
    padding: 8px 10px;
    border-radius: 100%;
    font-size: 2.5rem;
    position: absolute;
}

main .home .home-skill .container-skill i:nth-child(1){
    transform: rotate(0deg) translate(250px) rotate(0deg);
}

main .home .home-skill .container-skill i:nth-child(2){
    transform: rotate(72deg) translate(250px) rotate(-72deg);
}

main .home .home-skill .container-skill i:nth-child(3){
    transform: rotate(144deg) translate(250px) rotate(-144deg);
}

main .home .home-skill .container-skill i:nth-child(4){
    transform: rotate(216deg) translate(250px) rotate(-216deg);
}

main .home .home-skill .container-skill i:nth-child(5){
    transform: rotate(288deg) translate(250px) rotate(-288deg); 
}

main .home .project{
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .home .project .container-project{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    position: relative;
    box-sizing: border-box;
}

main .home .project .container-project .card-project{
    display: flex;
    box-shadow: 0px 5px 15px var(--primaryColor);
    position: relative;
    border-radius: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid var(--primaryColor);
}   

main .home .project .container-project .card-project:hover img{
    transform: scale(1.1);
}

main .home .project .container-project .card-project .informasi{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    height: 100%;
    background-color: #0d0b1eb0;
}

main .home .project .container-project .card-project .informasi h3{
    color: var(--primaryColor);
    font-size: 1.8rem;
}

main .home .project .container-project .card-project .informasi p{
    color: var(--textColor);
    width: 300px;
    text-align: center;
}

main .home .project .container-project .card-project .informasi a{
    background-color: var(--primaryColor);
    color: var(--textColor);
    padding: 8px 10px;
    font-weight: 600;
    border-radius: 12px;
}

main .home .project .container-project .card-project img {
    width: 550px;
    aspect-ratio: 2/1;
    overflow: hidden;
    box-sizing: border-box;
    transition: .3s;
}








/* animation */
@keyframes opacity{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes masukKanan {
    0%{
        transform: translateX(8rem);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes masukKiri {
    0%{
        transform: translateX(-8rem);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes tombol {
    0%{
        transform: scale(1);
        opacity: 0;
    }
    70%{
        transform: scale(1.2);
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes kebawah {
    0%{
        transform: translateY(-80vh) scale(1);
    }

    20%{
        transform:  translateY(-40vh) scale(1);
    }

    100%{
        transform: translateY(100vh) scale(.5);
    }
}

@keyframes muter {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes masukKiriSkill {
    0%{
        transform: translateX(-8rem);
        opacity: 0;
    }
    30%,100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes masukKananSkill {
    0%{
        transform: translateX(8rem);
        opacity: 0;
    }
    30%,100%{
        transform: translateX(0);
        opacity: 1;
    }
}

